*{
    box-sizing: border-box;
}

.error{
    color: red;
}

.hidden{
    display: none;
}
.searched{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result{
    width: 75%;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 3%;
    
}